/* Light Side */
:root,
[data-theme="default"] {
  --color-1: #fc7307;
  --color-2: #091d34;
  --color-3: #2169ba;
  --color-4: #616161;
  --bg-color: #faeee5;
  --bg-color-1: #4b8fdd;
  --bg-color-2: #1461b8;
  --wht: #fff;
  --bck: #111;
}

/* Dark Side */
[data-theme="dark"] {
  --color-1: #091d34;
  --color2: #fc7307;
  --color-3: #fff;
  --bg-color: #236ab9;
}
