@media (max-width: 1140px) {
  .home .container {
    margin-left: 0px;
  }
}

@media (max-width: 991px) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 13;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .menu {
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: var(--color-3);
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  .menu.active {
    left: 0;
  }

  .menu li {
    display: block;
  }

  .menu a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  .txt-1 {
    font-size: 22px;
  }

  .txt-2 {
    font-size: 65px;
  }

  .txt-3 {
    font-size: 30px;
  }

  .container {
    max-width: 800px;
  }

  .main-content .col {
    width: 100%;
  }

  .start {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .end {
    flex: 100%;
  }
}

@media (max-width: 888px) {
  .img-profile {
    display: none;
  }
}

@media (max-width: 500px) {
  .txt-2 {
    font-size: 50px;
  }

  .txt-3 {
    font-size: 25px;
  }
}
