@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
}

li {
  list-style: none;
  display: inline-block;
}

.container {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

.main,
.exp,
.eduWork,
.project,
.contact-form,
footer {
  font-family: "Poppins", sans-serif;
  margin-top: -5px;
}

.main-content,
.exp-content,
.eduWork-content,
.project-content,
.contact-form-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section {
  padding: 100px 0;
}

.section-title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 213px;
  height: 3px;
  background: var(--bck);
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.section-title::after {
  content: "Know me more";
  font-size: 15px;
  color: var(--color-1);
  position: absolute;
  padding: 5px;
  background: var(--bg-color);
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
}

/* =============navbar============= */
.navbar {
  position: fixed;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  padding: 30px 0;
  transition: all 0.3s ease;
  z-index: 13;
}

.navbar.sticky {
  background: var(--color-1);
  padding: 13px 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: var(--wht);
}

.logo span {
  color: var(--color-1);
  transition: all 0.3s ease;
}

.navbar.sticky span {
  color: var(--wht);
}

.menu a {
  color: var(--wht);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  display: block;
}

.menu a:hover {
  color: var(--color-1);
}

.navbar.sticky a:hover {
  color: #dfdfdf;
}

.menu-btn {
  color: var(--wht);
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.up-btn {
  position: fixed;
  height: 40px;
  width: 40px;
  color: var(--color-1);
  right: 25px;
  bottom: 10px;
  font-size: 25px;
  text-align: center;
  line-height: 45px;
  z-index: 13;
  background: var(--wht);
  border-radius: 7px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3 ease;
}

.up-btn.show {
  bottom: 25px;
  opacity: 1;
  pointer-events: auto;
}

/* =============home section============= */
.home {
  background: #1d4350;
  background: -webkit-linear-gradient(to right, #a43931, #1d4350);
  background: var(--bg-grad);
  display: flex;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  color: var(--wht);
}

.home .container {
  margin: auto 0 auto 40px;
}

.txt-1 {
  font-size: 27px;
}

.txt-2 {
  font-size: 75px;
  font-weight: 600px;
  margin-left: -3px;
}

.txt-3 {
  font-size: 40px;
  margin: 5px 0;
}

.txt-3 span {
  color: var(--color-1);
  font-weight: 500;
}

.btn {
  display: inline-block;
  background-color: var(--color-1);
  color: var(--wht);
  font-size: 20px;
  padding: 9px 19px;
  margin-top: 17px;
  border-radius: 7px;
  border: 2px solid var(--color-1);
  transition: all 0.3s ease;
}

.btn:active {
  background: none;
  color: var(--color-1);
}

.home img {
  max-width: 350px;
  width: 100%;
  height: auto;
  border: 5px solid var(--wht);
  border-radius: 13%;
}

.waves {
  background: var(--bg-grad);
}

/* =============main section============= */
.main-content .start {
  width: 45%;
}

.start img {
  max-width: 400px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
}

.main-content .end {
  width: 55%;
}

.end h3,
.start h3 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.main span,
.edu {
  color: var(--color-1);
}

.end p,
.start p,
.box p {
  text-align: justify;
}

/* =============eduWork section============= */
.eduWork {
  background: var(--bg-color-1);
  color: var(--wht);
}

.eduWork-title::after {
  content: "knowledge journey";
  color: var(--color-1);
  background: var(--bg-color-1);
}

.eduWork-content .col,
.contact-form-content .col {
  width: calc(50% - 20px);
}

.list {
  margin-bottom: 15px;
}

.list-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eduWork span {
  font-weight: 500;
  font-size: 18px;
}

.lines {
  height: 5px;
  width: 100%;
  background: var(--color-1);
}

.courses {
  background: var(--color-2);
}

.jobs {
  background: var(--red);
}

.course {
  color: var(--color-2);
}

.job {
  color: var(--red);
}

/* =============exp section============= */
.exp {
  background: var(--color-4);
  color: var(--bck-1);
}

.exp-title::after {
  content: "path I've learn";
  color: var(--color-1);
  background: var(--color-4);
}

.card {
  width: calc(33% - 20px);
  background: var(--color-2);
  text-align: center;
  border-radius: 7px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(1.13);
  background: var(--color-3);
}

.card i {
  font-size: 50px;
  color: var(--color-1);
}

.txt-box {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* =============project section============= */

.project {
  background: var(--color-4);
  color: var(--wht-1);
}

.project-title::after {
  content: "when write the code";
  color: var(--color-1);
  background: var(--color-4);
}

/* ===project slide=== */

.project .project-content {
  position: relative;
  margin: auto;
  max-width: 800px;
  justify-content: center;
}

.myProject {
  display: none;
}

.myProject img {
  max-width: 400px;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: var(--color-1);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: -27px;
  border-radius: 3px 0 0 3px;
}

.next {
  right: -27px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: var(--wht-1);
  font-weight: 600;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: -35px;
  width: 100%;
  text-align: center;
  left: 0;
}

.numbTxt {
  color: var(--wht-1);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -27px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* =============contact form============= */
.contact-form {
  background: var(--bg-color-2);
  color: var(--wht-1);
}

.contact-form-title::after {
  content: "Get in touch";
  color: var(--color-1);
  background: var(--bg-color-2);
}

.icons {
  margin: 10px 0;
}

.row {
  display: flex;
  height: 65px;
  align-items: center;
}

.info {
  margin-left: 30px;
}

.row i {
  font-size: 25px;
  color: var(--color-1);
}

.title {
  font-weight: 600;
}

fieldset {
  border-radius: 7px;
}

legend {
  margin-left: 13px;
}

.name {
  margin-right: 10px;
}

.fields {
  display: flex;
}

.field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

input,
textarea {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  border-radius: 7px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

textarea {
  padding-top: 10px;
  resize: none;
}

.textarea {
  height: 155px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  cursor: pointer;
  color: var(--wht-1) !important;
}

/* =============footer============= */

footer {
  background: var(--bg-footer);
  color: var(--wht-1);
  padding: 20px 25px;
  text-align: center;
}

footer a {
  color: var(--wht-1);
}

footer span {
  color: var(--color-1);
}

/* =============switch button============= */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  margin-top: 10px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  font-family: "Font Awesome\ 5 Free";
  position: absolute;
  content: "\f185";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: orange;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-align: center;
  font-size: 23px;
}

input:checked + .slider {
  background-color: orange;
}

input:focus + .slider {
  box-shadow: 0 0 1px orange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "\f186";
  background-color: #2196f3;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
