@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

li {
  list-style: none;
  display: inline-block;
}

.navbar {
  position: fixed;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  padding: 30px 0;
  transition: all 0.3s ease;
}

.navbar.sticky {
  background: #fc7307;
  padding: 15px 0;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-size: 35px;
  font-weight: 600;
  color: #fff;
}

.logo span {
  color: #fc7307;
  transition: all 0.3s ease;
}

.navbar.sticky span {
  color: #fff;
}

.menu a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #fc7307;
}

.navbar.sticky a:hover {
  color: rgb(223, 223, 223);
}

.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.home {
  background: #1d4350;
  background: -webkit-linear-gradient(to right, #a43931, #1d4350);
  background: linear-gradient(to right, #a43931, #1d4350);
  display: flex;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

.home .container {
  margin: auto 0 auto 40px;
}

.txt-1 {
  font-size: 27px;
}

.txt-2 {
  font-size: 75px;
  font-weight: 600px;
  margin-left: -3px;
}

.txt-3 {
  font-size: 40px;
  margin: 5px 0;
}

.txt-3 span {
  color: #fc7307;
  font-weight: 500;
}

.home img {
  max-width: 350px;
  width: 100%;
  height: auto;
  border: 5px solid whitesmoke;
  border-radius: 13%;
}
